# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

**/max31856_enum.go
**/max31865_enum.go

vendor/
bin/

GoTuringCoffee_*